.*.swp
*.log
Makefile
Dockerfile
config/ac/config.status
config/arch.py
config/arch.pyc
configuration.py
out.txt
base.mli
configuration.h
ddiffop_lexer.ml
ddiffop_parser.ml
ddiffop_parser.mli
dimensions_parser.ml
dimensions_parser.mli
localeqn_lexer.ml
localeqn_parser.ml
localeqn_parser.mli
nsimconf.ml
subst.py
