[version]
version = $Id$

[nmesh-2D]
a0                     : 1.0
shape_force_scale      : 0.1
volume_force_scale     : 0.0
neigh_force_scale      : 1.0
irrel_elem_force_scale : 0.0
thresh_add             : 0.6
thresh_del             : 1.6
initial_settling_steps : 200
sliver_correction      : 1.0
smallest_volume_ratio  : 0.01
max_relaxation         : 3.0
topology_threshold     : 0.2
time_step_scale        : 0.1
tolerated_rel_move     : 0.002
max_steps              : 1000

[nmesh-3D]
a0                     : 1.0
shape_force_scale      : 0.2
volume_force_scale     : 0.0
neigh_force_scale      : 1.0
irrel_elem_force_scale : 0.0
thresh_add             : 1.0
thresh_del             : 2.0
initial_settling_steps : 200
sliver_correction      : 1.0
smallest_volume_ratio  : 0.01
max_relaxation         : 3.0
topology_threshold     : 0.2
time_step_scale        : 0.1
tolerated_rel_move     : 0.002
max_steps              : 2000

[nmesh-ND]
a0                     : 1.0
shape_force_scale      : 0.2
volume_force_scale     : 0.0
neigh_force_scale      : 1.0
irrel_elem_force_scale : 0.0
thresh_add             : 1.0
thresh_del             : 2.0
initial_settling_steps : 200
sliver_correction      : 1.0
smallest_volume_ratio  : 0.01
max_relaxation         : 3.0
topology_threshold     : 0.2
time_step_scale        : 0.1
tolerated_rel_move     : 0.002
max_steps              : 3000

#these are options, not mesher parameters
#mesh_bounding_box      : False 
#density                : ""
#periodic               : []
#fixed_points           : []
#mobile_points          : []
#simply_points          : []
#callback               : None
#cache_name            : ""
